[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow-datasets = "*"
matplotlib = "*"
google-cloud-bigquery = "*"
pymongo = "==3.4.0"
tensorflow = "*"

[requires]
python_version = "3.7"
